<!DOCTYPE html>
<html>
<head>
  <title>Sherlock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="topbanner">
		<div class="topmenu">			
			<a href=""> SAT</a>			
			<div class="right">
				<a href=""><%=@current_user.user_profile.first_name%></a>
			</div>			
		</div>	
	</div>
	
	<div id="mainbody">	
		<div id="leftmenu">
			<%= render "layouts/left_menu"%>			
		</div>
		
		<div id="middlebody">
		<%= yield %>						
		</div>
							
		<div id="rightmenu">
			<%= render "layouts/right_subject_menu"%>
		</div>						
	</div>			
</body>
</html>
