<!DOCTYPE html>
<html>
<head>
  <title>Sherlock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="topbanner">
		<div class="topmenu">			
			<a href=""> SAT</a>			
			<div class="right">
				<a href=""><%=@current_user.user_profile.first_name%></a>
			</div>			
		</div>	
	</div>
	
	<div id="mainbody">
	
		<div id="leftmenu">
			<div class="lmenutop"></div>
			<div class="lmenubutton">Dashboard</div>
			<div class="lmenubutton">Progress</div>
			<div class="lmenubutton">History</div>
			<div class="lmenubutton">Leadership Board</div>
		</div>
		
		<%= yield %>
		
	</div>
</body>
</html>
